#apiKey {
    border: solid black 1px;
    border-radius: 30px;
    padding-left: 10px;
    height: 25px;
    width: 138px;
}

#apiKey:focus {
    outline: none;
    box-shadow: grey;
}
body {
    margin: 0;
}

nav {
    overflow: auto;
    text-align: center;
    color: white;
    height: 400px;
    background: url(original_background.jpg) no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

main {
    z-index: 0;
}

.changeBackground {
    color: grey;
    font-size: smaller;
    text-decoration: underline;
}

.changeBackground:hover {
    cursor: pointer;
}

#changeBackground1 {
    position: absolute;
    top: -2px;
    right: 5px;
}

#changeBackground2 {
    position: absolute;
    bottom: 1px;
    right: 5px;
}

.btn {
    border: none;
    color: black;
    background-color: white;
    height: 50px;
    width: 100px;
    border-radius: 3px;
    margin: 20px;
    box-shadow: 1px 1px 5px #989898;
}

#pod, #neo, #epic {
    background: rgba(122, 122, 122, 0.7);
    overflow: auto;
    padding-left: 10px;
    margin-bottom: 20px;
}

#podImg, #podVid {
    height: 300px;
    border: black solid 1px;
    float: right;
    margin-left: 5px;
}

#podVid {
    width: 500px;
    resize: both;
    background-color: black;
    overflow: auto;
}

.btn:focus {
    /*outline: dotted grey;*/
}
.goRocket {
    margin: 20px auto;
    height: 50px;
}

.goRocket:hover {
    cursor: pointer;
}

#promptUser, #containerEpic {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.close {
    position: fixed;
    top: 5px;
    right: 5px;
    color: white;
}

.close:hover {
    color: #cccccc;
    cursor: pointer;
}

#promptUserInputs, #searchEpic {
    padding: 5px;
    height: 300px;
    width: 300px;
    position: fixed;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.89);
    text-align: center;
    border-radius: 10px;
}

#neo {
    position: relative;
    padding: 0;
    text-align: center;
}

#hide {
    text-decoration: underline;
    position: absolute;
    top: 2px;
    right: 3px;
    color: #d3d3d3;
}

#hide:hover {
    cursor: pointer;
}

.neoDay {
    margin: 15px auto;
    /*border: solid black 2px;*/
    /*border-radius: 10px;*/
    /*padding: 5px;*/
}

.name {
    font-family: "courier new", serif;
}

.name:hover {
    cursor: pointer;
}

.whiteBackground {
    background-color: white;
}

table, td, th {
    border: 1px solid black;
    padding: 3px;
}

#epic {
    text-align: center;
    color: white;
    background-color: black;
}

#epicImgContainer {
    min-width: 200px;
    width: 90%;
}

.epicImg {
    width: 200px;
    display: inline;
    padding-right: 5px;
}